<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Animated Background Login Screen</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'><link rel="stylesheet" href="C:\Project Development Phase\sprint 1\templates\home login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div id="login-box1">
		<div class="logo">
			<img src="C:\Project Development Phase\sprint 1\templates\liver disease.png" width="60px" height="60px" class="img img-responsive img-circle center-block"/>
			<h1 class="logo-caption"><span class="tweak">S</span>ign-in <span class="tweak">H</span>ere</h1>
		</div><!-- /.logo -->
		<div class="controls">
			<input type="text" name="username" placeholder="Enter Username" id="username" class="form-control" autofocus required/>
			<input type="password" name="password" placeholder="Enter Password" id="password" class="form-control" required/>

			<button type="button" class="btn btn-default btn-block btn-custom">Sign-in</button>

			<br><br>
            <a href="home register.html">Register for new account ?</a>

		</div>
	</div>
</div>
<div id="particles-js"></div>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'></script>
<script src='https://code.jquery.com/jquery-1.11.1.min.js'></script><script  src="C:\Project Development Phase\sprint 1\templates\home login.js"></script>

</body>
</html>